.sidebar_header {
    width: 100px;
    height: 60px;
}

.sidebar_header img {

    position: relative;
    top: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar_main ul {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
}

.sidebar_main li {
    margin-block: 10px;
    color: var(--subTitle-color);
    cursor: pointer;
}

.active {
    color:var(--title-color)!important;
}

@media(max-width:950px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        z-index: 999;
        transition: all 0.3s ease;
    }

    .sidebar_wrapper {
        padding: 10px 20px;
        width: 60%;
        height: 100%;
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.63);
    }

    .sidebar_open {
        left: 0%;
    }
}