* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --title-color: #fff;
  --subTitle-color: #999;
  --subTitle-font:12px
}

body {
  font-family: "Basier Circle-Regular", Helvetica;
  overflow: hidden;
  transition: all 0.3, ease;
  color: var(--title-color);
}

li {
  list-style: none;
}




input,
div,
button,
textarea,
a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,a:visited, a:active{
  outline: none;
} 