* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --title-color: #fff;
  --subTitle-color: #999;
  --subTitle-font:12px
}

body {
  font-family: "Basier Circle-Regular", Helvetica;
  overflow: hidden;
  transition: all 0.3, ease;
  color: var(--title-color);
}

.container {
  max-width: 1550px;
  width: 95%;
  margin: 0px auto;
}

.App {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

@media(max-width:950px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }
}

@media(max-width:550px) {
  .App {
    grid-template-columns: 1fr;
    padding: 0px;
  }
}